@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Audiowide', cursive;
  color: #333333;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+0,2b2b2b+48,333333+56,333333+100 */
  background: #2b2b2b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2b2b2b 0%, #2b2b2b 48%, #333333 56%, #333333 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2b2b2b 0%, #2b2b2b 48%, #333333 56%, #333333 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2b2b2b 0%, #2b2b2b 48%, #333333 56%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#333333',GradientType=1 );
  /* IE6-9 */
}

.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265548/map-no-route.jpg) no-repeat center center;
  background-size: auto 100%;
}

.map-route-mask {
  position: absolute;
  width: 100vw;
  height: 60vh;
  overflow: hidden;
}
.map-route-mask .map-route {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265548/map-route.jpg) no-repeat center center;
  background-size: auto 100%;
}

footer {
  background: #FCE475;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/265548/team-rynkeby-tampere.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: 1rem center;
  box-shadow: 0 0 5rem rgba(10, 10, 10, 0.6);
}
footer .item {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  width: 9rem;
}
footer .item .value {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
footer .item .unit {
  font-size: 0.7rem;
  color: #575757;
}

.settings-button {
  position: absolute;
  color: white;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.settings-button:hover {
  color: #FCE475;
  transform: scale(1.2);
}

.settings-dialog {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 2rem rgba(10, 10, 10, 0.6);
  padding: 2rem;
  top: 4rem;
  right: -100%;
  width: 50%;
  transition: all 0.3s ease-out;
}
.settings-dialog--visible {
  right: 0;
}
.settings-dialog__base-distance {
  width: 100%;
  font-size: 1.2rem;
  padding: 0 2%;
  line-height: 2rem;
  border: 0 solid transparent;
}
.settings-dialog__save {
  width: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
  border: 0 solid transparent;
  background: #FCE475;
  cursor: pointer;
}
.settings-dialog__tracker {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: arial;
  width: 100%;
  padding: 1rem 0;
}
.settings-dialog__tracker__url {
  margin: 0;
  padding: 0;
  float: left;
  width: 80%;
  overflow: hidden;
}
.settings-dialog__tracker__distance {
  margin: 0;
  padding: 0;
  float: left;
  width: 20%;
  text-align: right;
}

.credit {
  position: absolute;
  right: 0.4rem;
  bottom: 5rem;
  color: white;
  font-family: arial;
  font-size: 0.6rem;
  opacity: 0.4;
}
